
name: Test Action Context

on:
  ## Some of these will only fire on the `default` branch
  push:
  release:
  issues:
  issue_comment:

jobs:
  dump-context:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: checkout
        uses: actions/checkout@v1

      - name: get action context
        shell: pwsh
        run: |
            Import-Module ./GitHubActions

            $context = Get-ActionContext -Verbose

            ## A context object is immutable, so we make a copy through JSON
            ## ser/deser for the purpose of nulling out the Payload which is
            ## very deep and complex on its own so we remove it from the first
            ## dump of context for clarity and then we'll dump just the payload
            $contextJson = $context | ConvertTo-Json -Depth 7
            $contextHash = $contextJson | ConvertFrom-Json -AsHashtable
            $contextHash.Payload = "(-OMITTED-)"

            Write-Host '##########################################################'
            Write-Host 'Resolved [context] WITHOUT Payload as:'
            Write-Host (ConvertTo-Json -Depth 7 $contextHash)

            $repo = Get-ActionRepo -Verbose
            Write-Host '##########################################################'
            Write-Host 'Resolved [repo] as:'
            Write-Host (ConvertTo-Json -Depth 7 $repo)
            
            $issue = Get-ActionIssue -Verbose
            Write-Host '##########################################################'
            Write-Host 'Resolved [issue] as:'
            Write-Host (ConvertTo-Json -Depth 7 $issue)

            Write-Host '##########################################################'
            Write-Host 'Resolved [context.Payload] as:'
            Write-Host (ConvertTo-Json -Depth 7 $context.Payload)

      - name: try docs example
        shell: pwsh
        run: |
          Import-Module ./GitHubActions

          $context = Get-ActionContext
          if ($context.EventName -eq 'push') {
              $payload = $context.Payload
              Write-ActionInfo "The head commit is: $($payload.head_commit)"
          }
